.view-months-link {
    font-size: 1.5vw;
    color: #000;
}

.expanded-months {
    display: none;
    height: 100vh;
}

.months-col {
    border: 1px solid #000;
    height: 10vw;
    width: 8vw;
}

.months-col:hover {
    background-color: azure;
}

.months-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 3vw;
}

.months-link:hover {
    color: #ccc;
}