@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
body {
    margin: 0;
}

/* Custom Classes */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-right {
    text-align: right;
    padding-right: 5vw;
}

/* Navbar */
nav {

}

/* Title Styling */

.month-title {
    display: inline-block;
    font-size: 10em;
}


.title-inside {
    display: inline-block;
    font-family: "Love Light", cursive;
    border-bottom: 2px solid #000;
    border-radius: 1%;
    margin-bottom: 1vw;
    padding: 0 20vw;
    
}

/* HEADERS */
.weekday-header {
    border: 1px solid #aaa;
    background-color: azure;
    width: 7vw;
}

/* Calendar Styling */

.day-col {
    border: 1px solid #aaa;
    height: 10vw;
    background-color: aliceblue;
    font-size: .9em;
}
.day-col:hover {
    cursor: pointer;
    background-color: #b3dbff;
}
.highlightDay {
    background-color: #fff0f0;
    border: 1px solid #aaa;
    height: 10vw;
    font-size: .9em;
}
.highlightDay:hover {
    background-color: #ffcccc;
}

/* Day Link Styling */

.day-link {
    display: block;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.event-tile {
    display: inline-block;
    font-size: 1.2em;
}

/* Expanded Day */

.expanded-day {
    display: none;
    margin-top: 4vw;
}
.expanded-col {
    height: 85vh;
}
.expanded-container {
    width: 100%;
    height: 100%;
    background-color: #aaa;
    border: 1px solid transparent;
    border-radius: 1%;
}
.expanded-title {
    font-family: "Love Light", cursive;
    border-bottom: 2px solid #000;
    border-radius: 1%;
    font-size: 7em;
}

/* EXPANDED EVENTS */

.expanded-events-list {
margin-top: 2vw;
}
.expanded-events-list li {
    font-size: 2em;
}

/* CLOSE BUTTON */
.close-expanded-button {
    font-size: 4em;
    color: #000;
    text-decoration: none;
}

.close-expanded-button:hover {
    color: #ccc;
}